.container {
    max-height: 600px;
    overflow-y: auto;
}

.modalInput {
    padding: 6px;
    gap: 0px;
    border-radius: 8px;
    background-color: var(--component-color);
    color: var(--text-color);
    box-shadow: 0px 1px 2px 0px #808080;
    z-index: 100;

    &:focus {
        outline: none;
        opacity: 1;
    }
}