.file_viewer_container {
    max-height: 500px;
    max-width: 500px;
    overflow-y: auto;
    overflow-x: hidden;
}

.file_viewer__button {
    max-width: 500px;
    width: 100%;
    padding: 2px;
    gap: 0px;
    border-radius: 8px;
    background-color: var(--component-color);
    color: var(--text-color);
    box-shadow: 0px 1px 2px 0px #808080;
    z-index: 100;

    &:focus {
        outline: none;
        opacity: 1;
    }
}