.container {
    button {
        color: var(--text-color);
    }
}

@media (max-width: 768px) {
    .container {
        margin-top: 20em;
        display: flex;
        flex-direction: column;
    }
}