.container {
    button {
        color: var(--text-color);
    }
    width: fit-content;
    height: fit-content;
    display: flex;
    align-items: center;
    justify-content: center;
}

.card {
    
}