.modalContainer {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999;
    backdrop-filter: blur(2px);
}

.modal {
    position: relative;
    background-color: var(--component-color);
    padding: 2em;
    border-radius: 16px;
    transform: translateY(-50px);
    z-index: 1000;
    animation: fadeIn 0.5s forwards;
    box-shadow: 0px 8px 24px rgba(16, 24, 40, 0.18);
    overflow-x: auto;
}

@keyframes fadeIn {
    0% {
        transform: translateY(-50px);
        opacity: 0;
    }

    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

@media (max-width: 768px) {
    .modal {
        height: 100%;
        width: 100%;
    }
}

@media (min-width: 768px) {
    .modal {
        transform: scale(1.2);
    }
}