.header {
    width: 100%;
    height: 60px;
    background-color: var(--component-color);
    color: var(--text-color);
    position: fixed;
    z-index: 150;
}

@media (max-width) {
    
}

.header p {
    font-weight: 400;

}